{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <img style="float: right" src="{{ gravatar(user.getEmail()) }}"/>
        <span class="color-1">Send a quick high five to</span>
        <br/>
        {{ user.name }}
    </h2>

    <article class="event">
        {% if showForm %}
            <h3>Welcome</h3>
            <br/>
            <p>You can send a quick high five to {{ user.getName() }} by filling up the following form.</p>
            <p>Your submission will be visible on his or her activity page.</p>

            <form id="form" action="{{ path('CobaseAppBundle_quick_highFive', { 'username': user.username }) }}" method="post" {{ form_enctype(form) }} class="blogger">
                {{ form_widget(form) }}
                <div class="btns">
                    <input class="button" type="submit" value="Submit">
                </div>
            </form>
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('highfive.saved') %}
            <div class="success">{{ flashMessage }}</div>
        {% endfor %}

    </article>

{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">Show</span> me</h2>
    <ul class="list-1">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('CobaseAppBundle_highfives_received') }}">Latest for you</a></li>
        {% endif %}
        <li><a href="{{ path('CobaseAppBundle_all_events') }}">All events</a></li>
        <li><a href="{{ path('CobaseAppBundle_all_highFives') }}">All high fives</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('CobaseAppBundle_all_quickHighFives') }}">All quickies for you</a></li>
        {% endif %}
        <li><a href="{{ path('CobaseAppBundle_users') }}">All users</a></li>
    </ul>
    <br/>

    <h2 class="p3"><span class="color-1">Latest</span> events</h2>
    <p class="p5">
    {% for event in latestEvents %}
        <article class="event-small">
            <div class="data">
                <header>
                    <strong><a href="{{ path('CobaseAppBundle_event_view', { 'eventId': event.shortUrl }) }}">{{ event.title }}</a></strong><br/>
                    By {{ event.user.getName() }}
                </header>
            </div>
        </article>
    {% else %}
        <p class="p2"><strong>No events found...</strong></p>
    {% endfor %}
    </p>
{% endblock sidenav %}

