{% extends '::base.html.twig' %}

{% block javascript %}
    // Hide the submit button
    $('#postForm').submit( function(e) {
    $('#formSubmit').hide();
    });

    // Make the submission textarea autosize on text input
    $('#cobase_appbundle_posttype_content').autosize();
{% endblock %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Modify</span> a post
    </h2>

    <form id="form" action="{{ path('CobaseAppBundle_post_modify', { 'postId': post.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

        <div class="control-group">
            {{ form_label(form.content, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_errors(form.content) }}
            <div class="controls">
                {{ form_widget(form.content) }}
            </div>
        </div>

        {{ form_widget(form._token) }}

        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </div>

    </form>

{% endblock content %}

