{% extends '::blank.html.twig' %}

{% block content %}
    <div class="row-fluid login">
        <div class="dialog">
            
            <h1 class="frontLogo">{{ site_title }}</h1>
            
            <div class="block" style="padding: 10px">
                <div class="block-header">
                    <h2>Register</h2>
                </div>
                <form id="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <input class="button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
                    <ul class="links">
                        <li><a href="{{ path('fos_user_security_login') }}">&laquo; {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
