{% extends '::cv.html.twig' %}

{% block content %}

    <table width="800" cellpadding="0" cellspacing="0">
        {% for event in events %}
        <tr>
            <td>
                <img style="margin-top: 17px; margin-right: 10px; width: 30px; height: 30px; float: left" src="{{ asset('images/clip.png') }}"/>
                <h2 style="font-size: 30px; margin-bottom: 20px; margin-top: 20px;">{{ event.title }}</h2>
                <h3 style="font-size: 15px; margin-bottom: 20px; margin-top: 20px;">{{ event.description }}</h3>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding-left: 10px; border-left: 4px solid #eee">
                <table cellspacing="10" width="800">
                {% for highfive in event.highfives %}
                        <tr>
                            <td class="entry" width="85" valign="top">
                                <img src="{{ gravatar(highfive.user.getEmail(), 85) }}"/>
                            </td>
                            <td class="entry" width="515" valign="top">
                                <p><strong>{{ highfive.user.getName() }} - {{ highfive.created|date('M d, Y') }}</strong></p>
                                <p><i>{{ highfive.comment }}</i></p>
                            </td>
                        </tr>

                {% else %}
                    <tr>
                        <td width="100" valign="top">
                            <p class="p1">No high fives received for this event.</p>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% endfor %}
        <tr>
            <td valign="top">
                <img style="margin-top: 17px; margin-right: 10px; width: 30px; height: 30px; float: left" src="{{ asset('images/clip.png') }}"/>
                <h2 style="font-size: 30px; margin-bottom: 20px; margin-top: 20px;">Quick high fives received</h2>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellspacing="0" width="800">
                    {% for quickHighfive in user.quickHighfives %}
                        <tr>
                            <td class="entry" width="515" valign="top" style="padding-left: 10px; border-left: 4px solid #eee">
                                <p><strong>{{ quickHighfive.getAuthor() }} - {{ quickHighfive.created|date('M d, Y') }}</strong></p>
                                <p><i>{{ quickHighfive.comment }}</i></p>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td width="100" valign="top">
                                <p class="p1">No quick high fives sent to {{ user.getName() }}.</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>

{% endblock content %}