{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <h2>Browse all groups</h2>

    {% for flashMessage in app.session.flashbag.get('group.created') %}
        <div class="alert alert-success fade in">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <ul class="item-summary">
        {% for group in groups %}
            <li>
                <div class="overview">
                    <p class="main-detail">{{ group.created|date('M d') }}</p>
                    <p class="main-detail">{{ group.created|date('Y') }}</p>
                    <p class="sub-detail">at {{ group.created|date('H:i') }}</p>
                    {{ group.created|show_newflag|raw }}
                </div>
                <div class="info">
                    <p class="group-title">{{ group.title }}</p>
                    <p class="group-description">{{ group.description }}</p>
                    <a class="btn btn-mini group-open" href="{{ path('CobaseAppBundle_group_view', { 'groupId': group.shortUrl }) }}">View {{ group.countPosts }} post(s)</a>
                </div>
                <div class="clearfix"></div>
            </li>
        {% else %}
            <p class="no-data">Currently there are no groups. Perhaps you could create a group?</p>
        {% endfor %}
    </ul>
</div>
{% endblock content %}





