{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block dynamic_javascripts %}
    var groupId = null;

    var deletes = {
        state0: {
            title: 'Delete Group',
            html:'<label>Are you sure you want to delete this group?</label>',
            buttons: { OK: 1 },
            focus: 1,
            submit:function(e,v,m,f){
                e.preventDefault();
                
                var data = {};
                data["groupId"] = groupId;
            
                // fire off the request
                request = $.ajax({
                    url: "{{ path('CobaseAppBundle_group_delete')}}",
                    type: "post",
                    data: data
                });
            
                // callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    var data = jQuery.parseJSON(response);
                    window.location.href = data.url;
                });
            
                // callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    alert("An error occured. Could not delete group.");
                });
            
                if(v==1) $.prompt.close();
                if(v==-1) $.prompt.goToState('state0');
            }
        },
    };

    $( ".delete-group-link" )
        .click(function(e) {
            e.preventDefault();
            groupId = $(this).attr("data-group-id");
            $.prompt(deletes);
    });
{% endblock %}

{% block content %}
<div class="row-fluid">
    <h2>Browse all groups</h2>

    {% for flashMessage in app.session.flashbag.get('group.message') %}
        <div class="alert alert-success fade in">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    
    <ul class="item-summary">
        {% for group in groups %}
            <li>
                <div class="overview">
                    <p class="main-detail">{{ group.created|date('M d') }}</p>
                    <p class="main-detail">{{ group.created|date('Y') }}</p>
                    <p class="sub-detail">at {{ group.created|date('H:i') }}</p>
                    {{ group.created|show_newflag|raw }}
                </div>
                <div class="info">
                    <p class="group-title"><a href="{{ path('CobaseAppBundle_group_view', { 'groupId': group.shortUrl }) }}">{{ group.title }}</a></p>
                    <p class="group-description">{{ group.description }}</p>
                    <p class="group-option-links">
                        <a class="btn btn-mini group-subscribe" href="{{ path('CobaseAppBundle_group_view', { 'groupId': group.shortUrl }) }}"><i class="icon-eye-open"></i> View {{ group.countPosts }} post(s)</a>
                        {% if is_granted('EDIT', group) or is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-mini edit-group-link" href="{{ path('CobaseAppBundle_group_modify', { 'groupId': group.shortUrl }) }}"><i class="icon-edit"></i> Edit</a>
                            <a class="btn btn-mini delete-group-link" href="{{ path('CobaseAppBundle_group_delete') }}" data-group-id="{{ group.shortUrl }}"><i class="icon-remove"></i> Delete</a>
                        {% endif %}
                    </p>
                </div>
                <div class="clearfix"></div>
            </li>
        {% else %}
            <p class="no-data">
                Currently there are no groups created.
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Perhaps you could create one now?
                {% else %}
                    Please login and come back to create one.
                {% endif %}
            </p>
        {% endfor %}
    </ul>
</div>
{% endblock content %}





