{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Contact</span> us
    </h2>

    <article class="event">
        {% for flashMessage in app.session.flashbag.get('app-notice') %}
            <div class="flash-notice-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <form id="form" action="{{ path('CobaseAppBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.body) }}

            {{ form_rest(form) }}
            <div class="btns">
                <input class="button" type="submit" value="Submit">
            </div>
        </form>
     </article>
{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">Right</span> column</h2>
    <ul class="list-1">
        <li><a href="#">Link to something</a></li>
        <li><a href="#">Link to something</a></li>
    </ul>
    <div class="form-search">
        <h2><span class="color-1 editable">Some </span>text</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
{% endblock sidenav %}












