{% extends 'CobaseAppBundle::layout.html.twig' %}

{% block content %}
    <h2>Home
        <span class="info">Overview of latest activity in groups you have subcribed to.</span>
    </h2>

    {% for flashMessage in app.session.flashbag.get('subscription.transaction') %}
        <div class="alert alert-success fade in">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <ul class="item-summary">
        
        {% for post in posts %}
        <li>
            <div class="overview">
                <img src="{{ gravatar(post.user.email) }}"/>
            </div>
            <div class="info">
                <p id="author">{{ post.user.name }}</p>
                <p class="postData">{{ post.created|date('M d, Y') }} at {{ post.created|date('H:i') }} in <a href="{{ path('CobaseAppBundle_group_view', { 'groupId': post.group.shortUrl }) }}">{{ post.group.title }}</a></p>
                <p class="postContent">{{ post.content|converturls }}</p>
                {% if is_granted('EDIT', post) %}
                    <p class="postOptions">
                        <a href="{{ path('CobaseAppBundle_post_modify', { 'postId': post.id }) }}">Edit</a>
                    </p>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </li>
        {% endfor %}

    </ul>
{% endblock content %}

