<li>
    <div class="overview">
        {% if post.user.avatar %}
            <img src="{{ path('CobaseAppBundle_avatar', {'avatarFile': post.user.avatar}) }}"/>
        {% else %}
            <img src="{{ gravatar(post.user.email) }}"/>
        {% endif %}
    </div>
    <div class="info">
        <p id="author"><a href="{{ path('CobaseAppBundle_user_view', { 'username': post.user.username }) }}">{{ post.user.name }}</a></p>
        <p class="postData">
            {{ post.created | ago }}
            {% if group is defined %}
                {% if post.group.id != group.id %}
                    in <a class="postOptionLink" href="{{ path('CobaseAppBundle_group_view', { 'groupId': post.group.shortUrl }) }}">{{ post.group.title }}</a>
                {% endif %}
            {% else %}
                in <a class="postOptionLink" href="{{ path('CobaseAppBundle_group_view', { 'groupId': post.group.shortUrl }) }}">{{ post.group.title }}</a>
            {% endif %}
        </p>
        <p class="postContent">{{ post.content | converturls }}</p>
        <p class="postOptions">
            {{ cobase_likes(post) }}
            {% set commentCount = post.commentThread.getNumComments() %}
            <i class="icon-comments"></i><a class="comments-post-link postOptionLink" href="{{ path('CobaseAppBundle_post_view', { 'groupId': post.group.getShortUrl(), 'postId': post.id, }) }}">{{ commentCount }} comments</a>
            {% if is_granted('EDIT', post) or is_granted('ROLE_ADMIN') %}
                <i class="icon-edit"></i><a class="postOptionLink" href="{{ path('CobaseAppBundle_post_modify', { 'postId': post.id }) }}">Edit</a>
                <i class="icon-move"></i><a data-id="{{ post.id }}" href="#" class="move-post-link postOptionLink">Move</a>
                <i class="icon-remove"></i><a data-id="{{ post.id }}" data-group-id="{{ post.group.shortUrl }}" href="#" class="delete-post-link postOptionLink">Delete</a>
            {% endif %}
            <i class="icon-bookmark"></i><a href="{{ path('CobaseAppBundle_post_view', { 'groupId': post.group.getShortUrl(), 'postId': post.id, }) }}">Permalink</a>
        </p>
    </div>
    <div class="clearfix"></div>
</li>