{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Create</span> new group
    </h2>

    <form id="form" action="{{ path('CobaseAppBundle_group_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
  
        <div class="control-group">
            {{ form_label(form.title, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_errors(form.title) }}
            <div class="controls">
                {{ form_widget(form.title) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.description, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_errors(form.description) }}
            <div class="controls">
                {{ form_widget(form.description) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.isPublic, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_errors(form.isPublic) }}
            <div class="controls">
                {{ form_widget(form.isPublic) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.tags, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_errors(form.tags) }}
            <div class="controls">
                {{ form_widget(form.tags) }}
            </div>
        </div>

        {{ form_widget(form._token) }}
        
        
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </div>
        
    </form>



    
{% endblock content %}
