<h2 class="p10"><span class="color-1">Search</span> results</h2>
{% for event in events %}
    <article class="event">
        <div class="author">
            <a href="{{ path('CobaseAppBundle_event_view', { 'eventId': event.shortUrl }) }}"><img src="{{ gravatar(event.user.getEmail()) }}"/></a>
        </div>
        <div class="data">
            <header>
                <h3><a href="{{ path('CobaseAppBundle_event_view', { 'eventId': event.shortUrl }) }}">{{ event.title }}</a></h3>
                {{ event.created|date('M d, Y') }} by <a href="#">{{ event.user.getName() }}</a>
            </header>
            <p class="description">{{ event.description|show_maxlen(65, '...') }}</p>
            <p class="count"><img src="{{ asset('images/hand.gif') }}"/>{{ event.countHighfives }} high fives</p>
        </div>
    </article>
{% else %}
    <p class="p2"><strong>No events found...</strong></p>
{% endfor %}

