{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Event:</span> {{ event.title }}
    </h2>

    <article class="event">
        <div class="author">

        </div>
        <div class="data">
            <header>
                {{ event.created|date('M d, Y') }} by <a href="{{ path('CobaseAppBundle_cv') }}/{{ event.user.getUserName() }}">{{ event.user.getName() }}</a>
            </header>
            <p class="description">{{ event.description }}</p>

            {% if event.externalUrl %}
                <p class="external-url">
                    Event URL: <a target="_BLANK" href="{{ event.externalUrl }}">{{ event.externalUrl }}</a>
                </p>
            {% endif %}

            <p class="count"><img src="{{ asset('images/hand.gif') }}"/>{{ event.countHighfives }} high fives</p>
        </div>
    </article>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if showForm %}
            <h2 class="p0">
                <span class="color-1">Send</span> high five
            </h2>

            <div id="create-highfive" class="p1">
                <form id="form" action="{{ path('CobaseAppBundle_event_view', { 'eventId': event.shortUrl }) }}" method="post" {{ form_enctype(form) }} class="blogger">
                    {{ form_widget(form) }}
                    <div class="btns">
                        <input class="button" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('highfive.saved') %}
            <div class="success">{{ flashMessage }}</div>
            <br/>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('event.saved') %}
            <div class="success">{{ flashMessage }}</div>
            <br/>
        {% endfor %}
    {% endif %}

    <h2 class="p3">
        <span class="color-1">Promote</span> this event
    </h2>
    <strong>You can promote this event by sharing following address:</strong>

    <ul class="promote">
      <li>
          <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
      </li>
    </ul>
    <br/>

    <h2 class="p3">
        <span class="color-1">High fives</span> received
    </h2>

    <div id="entries">
        {% for highfive in event.highfives|reverse %}
            <article class="event">
                <div class="author icon-only">
                    <img src="{{ gravatar(highfive.user.getEmail(), 75) }}"/>
                </div>
                <div class="data">
                    <p class="description">
                        <p><strong>{{ highfive.user.getName() }}</strong></p>
                        <p>{{ highfive.getComment() }}</p>
                        <p><i>Sent on {{ highfive.getCreated()|date('M d, Y') }}</i></p>
                    </p>
                </div>
            </article>
        {% else %}
            <p class="p2"><strong>No high fives for this event...</strong></p>
        {% endfor %}
    </div>
{% endblock content %}

{% block sidenav %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if allowModify %}
            <h2 class="p3"><span class="color-1">Your</span> options</h2>
            <ul class="list-1">
                <li><a href="{{ path('CobaseAppBundle_event_modify', { 'eventId': event.shortUrl }) }}">Modify this event</a></li>
            </ul>
            <br/>
        {% endif %}
    {% endif %}

    <h2 class="p3"><span class="color-1">Show</span> me</h2>
    <ul class="list-1">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('CobaseAppBundle_highfives_received') }}">Latest for you</a></li>
        {% endif %}
        <li><a href="{{ path('CobaseAppBundle_all_events') }}">All events</a></li>
        <li><a href="{{ path('CobaseAppBundle_all_highFives') }}">All high fives</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('CobaseAppBundle_all_quickHighFives') }}">All quickies for you</a></li>
        {% endif %}
        <li><a href="{{ path('CobaseAppBundle_users') }}">All users</a></li>
    </ul>
    <br/>

    <h2 class="p3"><span class="color-1">Latest</span> events</h2>
    <p class="p5">
    {% for event in latestEvents %}
        <article class="event-small">
            <div class="data">
                <header>
                    <strong><a href="{{ path('CobaseAppBundle_event_view', { 'eventId': event.shortUrl }) }}">{{ event.title }}</a></strong><br/>
                    By {{ event.user.getName() }}
                </header>
            </div>
        </article>
    {% else %}
        <p class="p2"><strong>No events found...</strong></p>
    {% endfor %}
    </p>
{% endblock sidenav %}

