{% extends '::base.html.twig' %}

{% block javascript_files %}
    <script src="{{ asset('javascripts/app/group_view.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascript %}
    var postId = null;

    var groups = {
        state0: {
            title: 'Post',
            html:'<label>Move post to</label>'+
                '<select name="groupId">'+
                {% for group in groups %}
                    '<option value="{{ group.shortUrl }}">{{ group.title }}</option>'+
                {% endfor %}
                '</select>',
            buttons: { Submit: 1 },
            focus: 1,
            submit:function(e,v,m,f){
                e.preventDefault();

                var data = {};
                data["postId"] = postId;
                data["groupId"] = f.groupId;

                // fire off the request
                request = $.ajax({
                    url: "{{ path('CobaseAppBundle_post_move')}}",
                    type: "post",
                    data: data
                });
            
                // callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    var data = jQuery.parseJSON(response);
                    window.location.href = data.url;
                });
            
                // callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    alert("An error occured. Could not move post to selected group.");
                });
    
                if(v==1) $.prompt.close();
                if(v==-1) $.prompt.goToState('state0');
            }
        },
    };

    $( ".move-post-link" )
        .click(function(e) {
            e.preventDefault();
            postId = $(this).attr("data-id");
            $.prompt(groups);
    });
{% endblock %}

{% block content %}
    <h2>
        {{ group.title }}
        <span class="info">{{ group.description }}</span>
    </h2>
    <p>
        {% if subscribed %}
            <a class="btn btn-mini group-unsubscribe" href="{{ path('CobaseAppBundle_group_unsubscribe', { 'groupId': group.shortUrl }) }}">Unsubscribe</a>
        {% else %}
            <a class="btn btn-mini group-subscribe" href="{{ path('CobaseAppBundle_group_subscribe', { 'groupId': group.shortUrl }) }}">Subscribe</a>    
        {% endif %}
    </p>
    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <hr/>
    
        {% for flashMessage in app.session.flashbag.get('group.message') %}
            <div class="alert alert-success fade in">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('post.message') %}
            <div class="alert alert-success fade in">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <form id="postForm" action="{{ path('CobaseAppBundle_group_view', { 'groupId': group.shortUrl }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <div class="control-group-new-post">
                {{ form_label(form.content, label|default(null), { 'label_attr': { 'class': 'control-label-new-post' } }) }}
                {{ form_errors(form.content) }}
                <div class="controls-new-post">
                    {{ form_widget(form.content) }}
                </div>
                {{ form_widget(form._token) }}
            </div>
            <div class="control-group-new-post">
                <label class="control-label-new-post"></label>
                <div class="controls-new-post">
                    <input id="formSubmit" class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    {% endif %}

    <ul class="item-summary">
    {% for post in group.posts|reverse %}
        {% include 'CobaseAppBundle:Common:listing.post.html.twig'%}
    {% else %}
        <li>
            <p class="no-data">Currently there are no posts in this group. Perhaps you would like to post something to this group?</p>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
