<i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i>
{% if user.likesPost(post) %}
    <a class="like-link" data-liked="true" data-postid="{{ post.id }}" href="">{{ 'Unlike'|trans }}</a>
{% else %}
    <a class="like-link" data-liked="false" data-postid="{{ post.id }}" href="">{{ 'Like'|trans }}</a>
{%  endif %}
<span class="like-container">(<span class="like-count">{{ likeCount }}</span>)</span>
